
/* Your CSS Code here. */

.holder{
	display:flex;
	justify-content:space-evenly;
	width: 100%;
	height: auto;
	flex-direction: row;
	flex-flow: wrap;
	align-item: flex-start;
}
.flx{
	background-color:red;
}